.burger {
    z-index: 8;
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;

    user-drag: none;
    user-select: none;
    -moz-user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.burger:focus {
  outline: none;
}

.burger span {
  position: absolute;
  display: block;
  top: 23px;
  left: 12px;
  right: 12px;
  height: 4px;
  background: #777;
  background: #4e4f4b;
  border-radius: 1px;
}

.burger span::before,
.burger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background: #777;
  background: #4e4f4b;
  border-radius: 1px;
  content: "";
}

.burger span::before {
  top: -10px;
}

.burger span::after {
  bottom: -10px;
}

.burger-x span {
    background: transparent;
}

.burger-x span::before {
  top: 0;
  transform:  rotate(45deg);
  -webkit-transform:  rotate(45deg);
}

.burger-x span::after {
  bottom: 0;
  transform:  rotate(-45deg);
  -webkit-transform:  rotate(-45deg);
}
