html,
body,
#main {
    height: 100%;
}

:focus {
    outline: 0;
}

body,
.smooth {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*.btn-primary:active:focus {
  background-color: #4fc1e9;
  border-color: #4fc1e9;
}*/

.dropdown-menu-xs {
    -ms-transform: scale(.8, .8);
    -webkit-transform: scale(0.5,0.5);
    transform: scale( .8, .8);
    -ms-transform-origin: right top;
    -webkit-transform-origin: right top;
    transform-origin: right top;
    /*left: 5px;*/
    right: 5px;
}

.dropdown-menu-xs li a {
    font-weight: 900;
}

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-primary, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    color: #fff; background-color: #079DD9; border-color: #079DD9;
}

.btn-depth-primary {
    -webkit-box-shadow: 0px 2px 0px 0px #037dca !important;
    -moz-box-shadow: 0px 2px 0px 0px #037dca !important;
    box-shadow: 0px 2px 0px 0px #497591 !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    font-weight: 900;
}

/*** BTN PRIMARY ***/

.btn-primary:hover, .btn-primary:focus {
    color: #fff; background-color: #079DD9; border-color: #079DD9;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff; background-color: #4fc1e9; border-color: #4fc1e9;
}

/*** BTN WARNIGN ***/

.btn-warning:hover, .btn-warning:focus {
    color: #fff; background-color: #f6bb42; border-color: #f6bb42;
}

.btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:active:hover, .open>.dropdown-toggle.btn-warning.focus, .open>.dropdown-toggle.btn-warning:focus, .open>.dropdown-toggle.btn-warning:hover {
    color: #fff; background-color: #ffce54; border-color: #ffce54;
}

/*** BTN DANGER ***/

.btn-danger:hover, .btn-danger:focus {
    color: #fff; background-color: #da4453; border-color: #da4453;
}

.btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover {
  color: #fff; background-color: #ed5565; border-color: #ed5565;
}
