
.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ecf0f1;
  z-index: 10000;

  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  opacity: 1;
}

.loader.done {
  opacity: 0;
}

.loader .spinner {
  position: absolute;

  top: 50%;
  left: 50%;

  width: 200px;
  height: 200px;

  margin-top: -100px;
  margin-left: -100px;

  background-color: white;

  border-radius: 100%;
  -webkit-animation: scaleout .8s infinite ease-in-out;
  animation: scaleout .8s infinite ease-in-out;

  -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
  animation-delay: 1s;

  opacity: 0;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0); opacity: 1; }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
    opacity: 1;
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
